---
layout: posts
title: ":prototype-term-titleize"
permalink: /blog/:term
prototype:
  term: categories
---


<base target="_blank">

<div class="posts">
  
  {% for post in paginator.documents %}
  
  <h1> <a href="{{ post.url}}">
  
    {{ post.title }}
  </a>
  </h1>
  
  <p>
      {{ post.author }} ・ {{ post.date | date: "%d.%m.%y" }}
  </p>
  
  {{ post.content }}
  {% endfor %}

</div>

<div class="list">
    <h2>
        {{ page.title}}
    </h2>
    <ul>
    {% for post in paginator.documents %}
    <li>
      <a href="{{ post.url}}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
  </div>
