<nav class='{{ page }}' data-nav-target='nav'>
  <div class="wrapper ">
    <div class="logo-wrapper">
      <a id="nav-logo" aria-label="home" class="toggleColour" href="/"><img src="/images/logo.svg" alt="our logo"></a>
    </div>
    <div class="menu-btn-wrapper">
      <button data-action='nav#toggle'>
        <svg class="" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>תפריט</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
      </button>
    </div>
    <div data-nav-target='menu' class="menu">
      <ul class="">
        <li class="">
          <a class="blog" href="blog">בלוג</a>
        </li>
        <li class="">
          <a class="about" href="#about">מי אנחנו</a>
        </li>
        <li class="">
          <a class="speaks" href="#projects">פרויקטים</a>
        </li>
      </ul>
      <a id="navAction" class="gradient contact-btn" href="/#contact">דברו איתנו</a>
    </div>
  </div>
</nav>